// inside app/frontend/packs/application.scss  
@import "~bootstrap/scss/bootstrap";

h1 {  
    text-decoration: underline;  
} 

.navbar{
  background-color: rgb(0, 0, 0);
}

a{
  color: white;
}

.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.textoarea{
  height: 20rem;
}

.navbar-toggler{
  color: rgb(0, 0, 0);
  z-index: 5;
}

.navbar-toggler-icon{
  color: red;
  
}

.show_tron{
  height: 100vh;
}






  
    