<div class="bg-image" style=" background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');height: 100vh; background-attachment: fixed;">
<div class="h1 text-center pt-3 pb-3">Create Article</div>

<div class="container">
	<div class="jumbotron bg-dark p-4 mb-5">
			<%= form_with(model: @article, local: true) do |f| %>
				<%# Titulo %>
					<label for="exampleInputEmail1" class="form-label text-light"><%= f.label :title %></label>
					<%= f.text_field :title, class:"form-control" %>
					<div id="emailHelp" class="form-text mb-3">Escribe un titulo para tu articulo.</div>
				<%# Description %>
					<label for="exampleInputEmail1" class="form-label text-light"><%= f.label :description %></label>
					<%= f.text_area :description, class:"form-control textoarea" %>
					<div id="emailHelp" class="form-text mb-3">Escribe una descripcion para tu articulo.</div>
				<%# Botones %>
				<div class="d-flex justify-content-center container">
					<div class="row gap-5">	
                        <%= link_to "Cancelar", articles_path, class:"btn btn-primary btn-md col" %>
						<%= f.submit class:"btn btn-primary btn-md col" %>
					</div>
				</div>
			<% end %>	
	</div>
</div>