<div class="bg-image" style=" background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');height: 100%;background-attachment: fixed;">

<div class="h1 text-center pt-3 pb-3">ARTICLES</div>

<code></code>

<div class="justify-content-center d-flex container">
<%= link_to "Create Article", new_article_path, class: "btn btn-success col mb-4" %>
</div>

<div class="container pb-5">
	<% @articles.each do |article| %>
		<div class="jumbotron bg-dark p-4 mb-5">

      <%# Titulo %>
			<h1 class="display-4 text-light text-center"><%= link_to article.title, article_path(article), class: "display-4 text-light text-center" %></h1>
			

			<%# Description %>

			<%# Botones %>
			<div class="d-flex justify-content-center container">
				<div class="row gap-5">	
					<%= link_to "Mostrar", article_path(article), class: "btn btn-primary btn-md col" %>
					<%= link_to "Borrar", article_path(article),method: :delete, class: "btn btn-danger btn-md col", data: {confirm: "Are you sure?"} %>
				</div>	
			</div>

			<%# Información de tiempo %>
		  <div id="emailHelp" class="form-text mt-4 text-center">
				<small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
			</div>

		</div>
	<% end %>
</div>


