<div class="bg-image" style=" background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');height: 100%;">

		<div class="jumbotron p-4 mb-5">

      <%# Titulo %>
			<h1 class="display-4 text-dark text-center"><%= @article.title %></h1>
			
			<%# Description %>
			<p class="lead text-dark text-center"><%= @article.description %></p>
			<hr class="my-4 text-light">
			<p class="lead">

			<%# Botones %>
			<div class="d-flex justify-content-center container">
				<div class="row gap-5">	
				</div>	
			</div>

			<%# Información de tiempo %>
		  <div id="emailHelp" class="form-text mt-4 text-center">
				
			</div>
      <div class="container">
<%= link_to "Editar", edit_article_path(@article), class: "btn btn-warning btn-md w-100 col mb-3" %>
<%= link_to "Regresar", articles_path(@article), class: "btn btn-primary btn-md w-100 col mb-3" %>
</div>
		</div>

    

