<main>
  <div class="bg-image" style=" background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp');height: 100vh;">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" >
          <h1 class="fw-light">ALPHA BLOG</h1>
          <p class="lead text-muted">Bienvenido a mi pequeño proyecto, en donde podrás postear tu propio blog de manera gratuita, espero que te guste y puedas publicar algún blog interesante.</p>
          <p>
            <%= link_to "Encontrar Blog", articles_path, class: "btn btn-primary my-2" %>
            <%= link_to "Publicar Blog", new_article_path, class: "btn btn-secondary my-2" %>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>





